@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Poppins-BoldItalic.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Poppins-Italic.ttf);
}
/*<<<----------------  Css Reset  ------------------>>> */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*<<<----------------  Css Variables  ------------------>>> */
:root {
  --color1: #f0f0f0;
  --color2: #fff;
  --color3: #716f6f;
  --color4: #151515;
  --color5: #dcdcdc;
  --color6: #854dff;
  --color7: #ff5959;
}

/*<<<----------------  Mixin Media Query   ------------------>>> */
/*<<<----------------  Base h1...  ------------------>>> */
.text-S {
  color: var(--color3);
  /* Heading S */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .text-S {
    font-size: 12px;
    letter-spacing: 3px;
  }
}

.text-M {
  color: var(--color4);
  /* Heading M */
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
}
@media screen and (max-width: 700px) {
  .text-M {
    font-size: 20px;
    letter-spacing: 0.2px;
  }
}

.text-L, .text-L--alt {
  color: var(--color4);
  /* Heading L */
  font-family: Poppins;
  font-size: 104px;
  font-style: italic;
  font-weight: 800;
  line-height: 110%; /* 114.4px */
  letter-spacing: -2.08px;
}
.text-L--alt {
  color: var(--color6);
}
@media screen and (max-width: 800px) {
  .text-L, .text-L--alt {
    font-size: 56px;
    letter-spacing: -1.12px;
  }
}

/*<<<----------------  Utilities  ------------------>>> */
.error {
  color: var(--color7);
  /* Body */
  font-family: Poppins;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.error-input {
  border: 1px solid var(--color7) !important;
}

/*<<<----------------  Page body  ------------------>>> */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color1);
  overflow-x: hidden;
  font-family: Poppins;
}

/*<<<----------------  Main Component  ------------------>>> */
.main {
  display: flex;
  width: 840px;
  padding: 56px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--color2);
  border-radius: 24px 24px 200px 24px;
}
@media screen and (max-width: 1000px) {
  .main {
    width: 70vw;
    margin: 20px;
  }
}
@media screen and (max-width: 500px) {
  .main {
    width: 90vw;
    padding: 24px;
    border-radius: 24px 24px 100px 24px;
    gap: 32px;
  }
}

/*<<<----------------  Date Input Section   ------------------>>> */
.date-input {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  border: none;
}
.date-input__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.date-input__input {
  display: flex;
  width: 160px;
  padding: 12px 24px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--color5);
}
.date-input__input::-webkit-inner-spin-button {
  appearance: none;
}
.date-input__input:hover, .date-input__input:focus {
  cursor: pointer;
  border: 1px solid var(--color6);
  outline: none;
}
@media screen and (max-width: 1000px) {
  .date-input__input {
    width: auto;
    padding: 12px 16px;
  }
}
@media screen and (max-width: 400px) {
  .date-input__input {
    width: 75px;
    padding: 12px 14px;
  }
}
@media screen and (max-width: 500px) {
  .date-input {
    gap: 16px;
  }
}

/*<<<----------------  Middle Button Section   ------------------>>> */
.btn-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  height: 96px;
}
@media screen and (max-width: 800px) {
  .btn-div {
    justify-content: center;
    height: 64px;
  }
}
.btn-div__btn {
  display: flex;
  width: 96px;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: flex-end;
  border-radius: 216px;
  background: var(--color6);
  border: none;
  position: absolute;
}
.btn-div__btn:hover {
  cursor: pointer;
  background: var(--color4);
}
@media screen and (max-width: 800px) {
  .btn-div__btn {
    width: 64px;
    height: 64px;
  }
}
.btn-div__svg {
  width: 44px;
  height: 44px;
}
@media screen and (max-width: 800px) {
  .btn-div__svg {
    width: 24px;
    height: 24px;
  }
}
.btn-div__line {
  background-color: var(--color5);
  width: 100%;
}

/*<<<----------------  Date Output Section   ------------------>>> */
.date-output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.date-output__item {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
